* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* NAVIGATION SECTION */
nav {
    display: flex;
    justify-content: space-between;
    background-color: white;
}

.logo {
    width: 100px;
    height: 100px;
}

.nav-menu {
    display: flex;
    align-self: center;
}

li {
    list-style: none;
    margin-top: 14px;
    
}

a {
    text-decoration: none;
    padding-right: 15px;
    color: black;
    transition: 0.3s ease;
}

a:hover {
    color: goldenrod;
    text-decoration: underline;
}

.btn-nav {
    margin-top: 14px;
    width: 120px;
    height: 30px;
    align-self: center;
    color: black;
    background: white;
    border: 1px solid black;
    border-radius: 5px;
    margin-right: 15px;
    cursor: pointer;
    transition: 0.5s ease;
}

.btn-nav:hover {
    background-color: goldenrod;
    color: white;
    
}


/* HEADER SECTION */

#Home {
    background-image: url(./images/main.jpg);
    min-height: 110vh;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-left: 15px;
}

.main-pic {
    position: relative;
    bottom: 40px;
}

.main-pic h2 {
    padding-top: 8px;
    color: goldenrod;
    font-family: cursive;
}
.main-pic > h1 {
    padding-top: 150px;
    font-size: clamp(2rem, 5vw, 5rem);
    color: black;
}

.main-pic p {
    padding: 15px 0;
}

.btn-header {
    width: 120px;
    height: 30px;
    align-self: center;
    color: whitesmoke;
    background: black;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s ease;
}

.btn-header:hover {
    background-color: goldenrod;
}



/* ABOUT US SECTION */

#About{
    background-color: #FDF6EC;
    padding-top: 30px;
    padding-bottom: 30px;
}

.about-section {
    display: flex;
    padding: 0 40px;
}

.about-section-container {
    padding-right: 10px;
    align-self: center;
}

.about-section-container h2 {
    margin-bottom: 15px;
    font-size: clamp(1.3rem, 4vw, 2.5rem);
}

.about-section-container p {
    line-height: 1.5rem;
}

.video-section {
    left: 0px;
  
}

.about-section h1 {
    font-size: clamp(1.5rem, 5vw, 3rem);
}

/* SERVICES SECTION */


#Services {
    padding-top: 20px;
    max-width: 100%; 
    padding-bottom: 30px;
}

#Services h2 {
    text-align: center;
    padding-bottom: 25px;
    font-size: clamp(1.5rem, 5vw, 3rem);
    color: #DAB88B;
}

.services-container {
    display: flex;
    max-width: 100%;
}
.services-section {
    padding-left: 10px;
    text-align: center;
}

.services-section h3 {
    padding-bottom: 10px;
    color: #DAB88B;
}

.services-section-pg{
    text-align: left;
    padding: 25px;
}

.services-icon {
    max-width: 300px;
    min-height: 290px;
    border-radius: 50%;
    margin-bottom: 20px;
}
.our-services {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #FDF6EC;
}

.our-services h2 {
    text-align: center;
    padding-bottom: 25px;
    font-size: clamp(1.5rem, 5vw, 3rem);
    color: #DAB88B;
}

.services-pic {
    height: 400px;
    max-width: 100%;
  
}

.offered-services-container {
    display: flex;
    margin-bottom: 35px;
    justify-content: center;
    
}

.offered-services {
    position: relative;
}

.services-detail {
    text-align: center;
    position: absolute;
    left: 30px;
    bottom: 70px;
    color: #DAB88B;
    font-size: 1.5rem
}

.read-more {
    text-align: center;
    position: absolute;
    left: 30px;
    bottom: 20px;
    color: white;
    padding: 10px;
    min-width: 50%;
    border: 1px black solid;
    background-color: black;
    cursor: pointer;
}

/* DISCOUNT SPECIAL SECTION */
.discount {
    background-image: url(./images/wash.jpg); 
    min-height: 80vh;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.discount-discription {
    position: absolute;
    right: 180px;
    bottom: 40%;
    font-size: 1.5rem;
    
}

.discount-discription h3 {
    color: black;
}

.discount-discription p {
    margin-bottom: 15px;
}

.btn-discount {
    margin-top: 15px;
    width: 100%;
    height: 30px;
    align-self: center;
    color: whitesmoke;
    background: black;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s ease;
}

.btn-discount:hover {
    background-color: goldenrod;
}

/* STYLIST SECTION */

#Stylists {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 20px;

}

#Stylists h2 {
    font-size: clamp(1.5rem, 5vw, 3rem);
    padding-bottom: 15px;
    color: #DAB88B;
}

.stylist-container {
    display: flex;
    text-align: center;
    justify-content: center;
}

.stylist-pic {
    height: 400px;
    min-width: 300px;
}
.about-stylist {
    position: relative;
}

.stylist-detail {
    text-align: center;
    position: absolute;
    left: 80px;
    bottom: 20px;
    color: white;
    padding: 2px;
    min-width: 50%;
    border: 1px black solid;
    background-color: black;
    line-height: 1.5rem;
}

.stylist-detail h4 {
    color: white;
}


/*LOOKBOOK SECTION*/

#Lookbook {
    padding-top: 20px;
    padding-bottom: 15px;
    background-color: #FDF6EC;
}

#Lookbook h2 {
    text-align: center;
    padding-bottom: 15px;
    color: #DAB88B;
    font-size: clamp(1.5rem, 5vw, 3rem);
}

.lookbook-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(auto, 350px);
}
.hair-style {
    height: 400px;
    max-width: 400px;
    
}

.pic1 {
    grid-row: 1/3;
    grid-column: 2/3;
}

.pic2 {
    grid-row: 5/6;
    grid-column: 1/2;
}

.pic3  {
    grid-row: 1/3;
    grid-column: 1/2;
}

.pic4  {
    grid-row: 2/4;
    grid-column: 2/3;
}

.pic5  {
    grid-row: 3/5;
    grid-column: 1/2;
}

.pic6  {
    grid-row: 4/6;
    grid-column: 2/3;
}


/* FOOTER SECTION */

footer {
    background-color: #DAB88B;
    text-align: center;
}

.footer-logo {
    opacity: 25%;
    width: 200px;
    height: 200px;
   
}

.footer-nav li {
    display: inline-flex;
    flex-direction: row;
    margin-bottom: 20px;
    margin-top: 10px;
}

.footer-icons {
    display: inline-block;
    margin-bottom: 30px;
    margin-top: 15px;
}

.social-icon {
    padding-right: 15px;
}